.u-section-1 {min-height: 1606px}
.u-section-1 .u-layout-wrap-1 {width: calc(((100% - 1140px) / 2) + 1339px); margin: 0 auto 0 0}
.u-section-1 .u-image-1 {min-height: 1606px; background-image: url("images/e130962dcc4d8a1cc3e6f15c6627f4d61.jpg"); background-position: 50% 50%}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-text-1 {font-size: 3.75rem; animation-duration: 1000ms; margin: 64px 42px 0}
.u-section-1 .u-text-2 {animation-duration: 1000ms; margin: 29px 42px 0}
.u-section-1 .u-text-3 {font-style: italic; font-family: Aclonica; font-weight: 400; margin: -71px 23px 0 0} 

@media (max-width: 1199px){ .u-section-1 {min-height: 1784px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-image-1 {min-height: 1784px}
.u-section-1 .u-container-layout-1 {padding-top: 55px}
.u-section-1 .u-text-1 {margin-top: 51px}
.u-section-1 .u-text-2 {width: auto; margin-top: 1px; margin-right: 51px; margin-left: 32px} }

@media (max-width: 991px){ .u-section-1 {min-height: 280px}
.u-section-1 .u-image-1 {min-height: 864px}
.u-section-1 .u-container-layout-1 {padding-top: 30px}
.u-section-1 .u-text-1 {margin-top: 79px}
.u-section-1 .u-text-2 {margin-top: 13px; margin-right: 28px; margin-left: 42px} }

@media (max-width: 767px){ .u-section-1 {min-height: 2630px}
.u-section-1 .u-image-1 {min-height: 2629px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-1 {font-size: 3rem; width: auto; margin-top: 61px; margin-right: 28px; margin-left: 69px}
.u-section-1 .u-text-2 {margin-top: 0; margin-left: 35px; margin-right: 35px}
.u-section-1 .u-text-3 {width: auto; margin-top: -125px; margin-bottom: -23px} }

@media (max-width: 575px){ .u-section-1 {min-height: 4089px}
.u-section-1 .u-image-1 {min-height: 4089px}
.u-section-1 .u-container-layout-1 {padding-right: 5px}
.u-section-1 .u-text-1 {font-size: 2.25rem; margin-top: 72px; margin-left: 0; margin-right: 0}
.u-section-1 .u-text-2 {margin-top: 7px}
.u-section-1 .u-text-3 {margin-top: -95px; margin-right: 14px; margin-left: 9px} }