.u-section-1 {background-image: url("images/188798415-0.jpeg"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 1226px}
.u-section-1 .u-group-1 {width: 570px; min-height: 149px; margin: 98px 245px 0 auto}
.u-section-1 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-1 .u-text-1 {font-size: 2.25rem; margin: 15px 0}
.u-section-1 .u-btn-1 {animation-duration: 1000ms; padding: 0}
.u-section-1 .u-layout-wrap-1 {margin: 0 auto 60px 0}
.u-section-1 .u-layout-cell-1 {min-height: 292px; background-position: 0% 0%; animation-duration: 1000ms}
.u-section-1 .u-container-layout-2 {padding-left: 0; padding-right: 0}
.u-section-1 .u-text-2 {text-transform: uppercase; font-weight: 500; margin: 40px 20px 0 40px}
.u-section-1 .u-text-3 {font-style: italic; font-size: 1.125rem; font-weight: 300; margin: 17px 30px 0}
.u-section-1 .u-layout-cell-2 {min-height: 292px; background-position: 0% 0%; background-image: none}
.u-section-1 .u-container-layout-3 {padding-left: 0; padding-right: 0}
.u-section-1 .u-text-4 {text-transform: uppercase; font-weight: 500; margin: 29px 30px 0}
.u-section-1 .u-text-5 {font-style: italic; font-size: 1rem; margin: 17px 30px 0}
.u-section-1 .u-layout-cell-3 {min-height: 292px; background-position: 0% 0%; background-image: none; animation-duration: 1000ms}
.u-section-1 .u-container-layout-4 {padding-left: 0; padding-right: 0}
.u-section-1 .u-text-6 {text-transform: uppercase; font-weight: 500; margin: 40px 0 0 30px}
.u-section-1 .u-text-7 {font-style: italic; font-size: 1rem; margin: 20px 30px 0}
.u-section-1 .u-layout-cell-4 {min-height: 302px; background-position: 0% 0%; background-image: none; animation-duration: 1000ms}
.u-section-1 .u-container-layout-5 {padding-left: 0; padding-right: 0}
.u-section-1 .u-text-8 {text-transform: uppercase; font-weight: 500; margin: 77px 30px 0}
.u-section-1 .u-text-9 {font-style: italic; font-size: 1rem; font-weight: 300; animation-duration: 1000ms; margin: 20px 30px 77px}
.u-section-1 .u-layout-cell-5 {min-height: 302px; background-position: 0% 0%; background-image: none; animation-duration: 1000ms}
.u-section-1 .u-container-layout-6 {padding-left: 0; padding-right: 0}
.u-section-1 .u-text-10 {text-transform: uppercase; font-weight: 500; margin: 77px 30px 0}
.u-section-1 .u-text-11 {font-style: italic; font-size: 1rem; font-weight: 300; margin: 20px 30px 0}
.u-section-1 .u-layout-cell-6 {min-height: 302px; background-position: 0% 0%; background-image: none; animation-duration: 1000ms}
.u-section-1 .u-container-layout-7 {padding-left: 0; padding-right: 0}
.u-section-1 .u-text-12 {text-transform: uppercase; font-weight: 500; margin: 77px 30px 0}
.u-section-1 .u-text-13 {font-style: italic; font-size: 1rem; font-weight: 300; margin: 20px 30px 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 933px}
.u-section-1 .u-group-1 {width: 952px; min-height: 154px; margin-top: 30px; margin-right: auto; margin-left: 0}
.u-section-1 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-1 .u-text-1 {margin-top: 0; margin-bottom: 0}
.u-section-1 .u-layout-wrap-1 {margin-bottom: 45px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 327px}
.u-section-1 .u-text-2 {margin-top: 76px; margin-left: 25px; margin-right: 25px}
.u-section-1 .u-text-3 {font-weight: 400; margin-left: 25px; margin-right: 25px}
.u-section-1 .u-layout-cell-2 {min-height: 327px}
.u-section-1 .u-text-4 {margin-top: 72px; margin-left: 25px; margin-right: 25px}
.u-section-1 .u-text-5 {margin-top: 78px; margin-left: 25px; margin-right: 25px}
.u-section-1 .u-text-6 {margin-top: 482px; margin-left: 25px; margin-right: 25px}
.u-section-1 .u-text-7 {margin-top: -486px; margin-left: 25px; margin-right: 25px}
.u-section-1 .u-text-8 {margin-left: 25px; margin-right: 25px}
.u-section-1 .u-text-9 {font-weight: 400; margin-left: 25px; margin-right: 25px}
.u-section-1 .u-text-10 {margin-top: 27px; margin-left: 25px; margin-right: 25px}
.u-section-1 .u-text-11 {font-weight: 400; margin-left: 25px; margin-right: 25px; margin-bottom: 27px}
.u-section-1 .u-text-12 {margin-top: 27px; margin-left: 25px; margin-right: 25px}
.u-section-1 .u-text-13 {font-weight: 400; margin-left: 25px; margin-right: 25px; margin-bottom: 27px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 1536px}
.u-section-1 .u-group-1 {width: 712px; min-height: 50px; margin-top: 123px; margin-right: 0; margin-left: auto}
.u-section-1 .u-container-layout-1 {padding: 0 10px}
.u-section-1 .u-text-1 {margin-top: -11px; margin-left: -15px; margin-right: -15px}
.u-section-1 .u-layout-wrap-1 {width: 720px; margin-right: auto; margin-bottom: 48px; margin-left: -8px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-text-2 {margin-top: 16px; margin-left: 16px; margin-right: 16px}
.u-section-1 .u-text-3 {margin-top: 36px; margin-left: 16px; margin-right: 16px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-text-4 {margin-top: 16px; margin-left: 19px; margin-right: 19px}
.u-section-1 .u-text-5 {margin-top: 8px; margin-left: 19px; margin-right: 19px}
.u-section-1 .u-layout-cell-3 {min-height: 100px}
.u-section-1 .u-text-6 {width: auto; margin-top: 8px; margin-right: 32px; margin-left: 0}
.u-section-1 .u-text-7 {margin-top: 15px; margin-left: 16px; margin-right: 16px}
.u-section-1 .u-layout-cell-4 {min-height: 100px}
.u-section-1 .u-text-8 {margin-top: 18px; margin-left: 19px; margin-right: 19px}
.u-section-1 .u-text-9 {margin: 19px 19px 0}
.u-section-1 .u-layout-cell-5 {min-height: 100px}
.u-section-1 .u-text-10 {margin-top: 30px; margin-left: 19px; margin-right: 19px}
.u-section-1 .u-text-11 {margin-left: 19px; margin-right: 19px; margin-bottom: 30px}
.u-section-1 .u-layout-cell-6 {min-height: 100px}
.u-section-1 .u-text-12 {margin-top: 30px; margin-left: 19px; margin-right: 19px}
.u-section-1 .u-text-13 {margin-left: 19px; margin-right: 19px; margin-bottom: 30px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 2071px}
.u-section-1 .u-group-1 {min-height: 58px; margin-top: 0; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-container-layout-1 {padding-left: 5px; padding-right: 5px}
.u-section-1 .u-text-1 {width: auto; margin: 98px -5px -83px 5px}
.u-section-1 .u-layout-wrap-1 {width: 540px; margin-top: 98px; margin-bottom: 30px; margin-left: 10px}
.u-section-1 .u-text-2 {width: auto; margin-top: 32px; margin-right: 26px; margin-left: 14px}
.u-section-1 .u-text-3 {margin-top: 26px; margin-left: 20px; margin-right: 20px}
.u-section-1 .u-text-4 {margin-top: 25px; margin-left: 14px; margin-right: 14px}
.u-section-1 .u-text-5 {width: auto; margin-top: 10px; margin-right: 21px; margin-left: 7px}
.u-section-1 .u-text-6 {margin-top: 21px; margin-right: 27px; margin-left: 13px}
.u-section-1 .u-text-7 {width: auto; margin-top: 8px; margin-right: 27px; margin-left: 13px}
.u-section-1 .u-text-8 {margin-top: 25px; margin-left: 14px; margin-right: 14px}
.u-section-1 .u-text-9 {margin-left: 14px; margin-right: 14px; margin-bottom: 25px}
.u-section-1 .u-text-10 {margin-top: 39px; margin-left: 14px; margin-right: 14px}
.u-section-1 .u-text-11 {margin-left: 14px; margin-right: 14px; margin-bottom: 39px}
.u-section-1 .u-text-12 {margin-top: 39px; margin-left: 14px; margin-right: 14px}
.u-section-1 .u-text-13 {margin-left: 14px; margin-right: 14px; margin-bottom: 39px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 2430px}
.u-section-1 .u-container-layout-1 {padding-left: 1px; padding-right: 1px}
.u-section-1 .u-text-1 {font-size: 1.875rem; margin-left: -15px; margin-right: -15px; margin-bottom: -76px}
.u-section-1 .u-layout-wrap-1 {width: 340px; margin-top: 89px; margin-bottom: 40px; margin-left: 6px}
.u-section-1 .u-text-2 {margin-top: 37px; margin-right: 12px; margin-left: 0}
.u-section-1 .u-text-3 {width: auto; margin-top: 20px; margin-right: 0; margin-left: 12px}
.u-section-1 .u-text-4 {width: auto; margin-top: 40px; margin-right: 18px; margin-left: 0}
.u-section-1 .u-text-5 {margin-top: 12px; margin-left: 9px; margin-right: 9px}
.u-section-1 .u-text-6 {margin-top: 380px; margin-left: 6px; margin-right: 6px}
.u-section-1 .u-text-7 {margin-top: -384px; margin-left: 6px; margin-right: 6px}
.u-section-1 .u-text-8 {margin-top: 20px; margin-left: 9px; margin-right: 9px}
.u-section-1 .u-text-9 {margin: 12px 9px 0}
.u-section-1 .u-text-10 {margin-left: 9px; margin-right: 9px}
.u-section-1 .u-text-11 {margin-left: 9px; margin-right: 9px}
.u-section-1 .u-text-12 {margin-left: 9px; margin-right: 9px}
.u-section-1 .u-text-13 {margin-left: 9px; margin-right: 9px} }